
<%- include ('header') %>
<%- include ('nav') %>

<section>
    <article>
        <div class="row">
            <div id="carrinho" class="col-sm-7 mt-5 mb-5 text-center">
                <table class="table text-white" id="listaCarrinho">
                    <tr>
                        <th>Produto</th>
                        <th>Telas</th>
                        <th>Preço</th>
                        <th></th>
                    </tr>
                    <% total = 0 
                    carrinho.forEach((item) => { 
                        total += parseFloat(item.valor)
                    %>
                    <tr>
                        <td style="vertical-align:unset;">
                            <img class="w-50 m-1 imagemCarrinho" src="../imgs/<%= item.imagem %>">
                            <p class="font-italic"><%= item.titulo %></p>
                        </td>
                        <td style="vertical-align:unset;">
                            <input class="form-control" id="qtdTelasfilme<%= item.filmes_id %>" type="number" min="1" max="5" value="1">
                        </td>
                        <td style="vertical-align:unset;">
                            R$ <%= item.valor %>
                        </td>
                        <td style="vertical-align:unset;">
                            <button class="btn btn-sm btn-outline-danger">Excluir</button>
                        </td>
                    </tr>
                    <% }) %>

                </table>
                <button class="btn btn-primary btn-sm" id="limparCarrinho">Limpar carrinho</button>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <h5 class="text-center">Resumo do Pedido</h5>
                <div class="resumoPedido p-3 mt-3">
                    <!-- <p><span id="totalProdutos"></span> Produtos</p> -->
                    <p><%= carrinho.length %> Produtos</p>
                    <p>Total R$ <%= total %> </p>
                    <div>
                        <label for="valor" class="mt-5">Tem cupom de desconto?</label>
                        <br>
                        <input type="text" id="cupom" name="valor" class="form-control"
                            placeholder="Insira o código aqui">
                        <br>
                    </div>
                    <p id="totalDesconto"> Total com o desconto R$ <span id="TOTAL"></span></p>
                    <!-- <p id="totalDesconto2"> Total com o desconto R$ <span id="TOTAL2"></span></p> -->
                    <input id="botao1" type="button" class="btn btn-sm btn-info mt-3" value="Calcular">
                    <button class="btn btn-sm btn-primary mt-3">Continuar</button>
                    <p class="small mt-3"><a href="/">Adicionar mais produtos</a></p>
                </div>
            </div>
        </div>

        <div id="galeriaVideos" class="mt-4 mb-4">
            <div class="row wrap">
                <div class="col-sm-4">
                    <a href="/produtos">
                        <img src="../imgs/filme1.jpeg" class="imagens">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/produtos">
                        <img src="../imgs/filme2.jpeg" class="imagens">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/produtos">
                        <img src="../imgs/filme3.jpeg" class="imagens">
                    </a>
                </div>
            </div>
         </div>

    </article>
</section>

<script src="../js/carrinho.js"></script>
<%- include ('footer') %>

