<%- include ('header') %>
<%- include ('nav') %>
<body>

     
        
     <article class="container">
<div class="row text-center">
<div class="col-sm-12 mt-5 "style="font-size: 24px;">
   <h1> <i class="fas fa-user-circle fa-2x "></i></h1>
</div> 

<div class="col-sm-12 mt-2 text-center" >
    
    <h1 > <%=galeria[0].nome%> </h1></div>
  <div class="col-sm-12 mt-2"> <p>Email: <%=galeria[0].email%></p></div>
    <div class="col-sm-12 mt-2"><p>Telefone: <%=galeria[0].telefone%> </p></div>
</div>
</div>

     </article>
    </section>

<%-include('footer')%>