<%- include ('header') %>
<%- include ('nav') %>

        <section>
            <table class="w-100" border="0">            
                <tr>
                    <td><iframe class="w-100" width="400" height="250" marginheight="40" marginwidth="100"src="" id=tra0 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                    <td><iframe class="w-100" width="400" height="250" marginheight="40" marginwidth="100" src="" id=tra1 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                    <td><iframe class="w-100" width="400" height="250" src="" id=tra2 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></td>
                </tr>
                </table>
            <article>
                <p class="col-sm-8"> Aqui você encontra o melhor dos nossos conteúdos em HD!</p>
                <hr>
                <div id="galeriaLivros" class="mt-4 mb-6">
                    <div class="row">
                        <% galeria.forEach((item)=>{ %>
                        <div class="col-sm-6">
                            <h3> <%=item.titulo%></h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="/single?id=<%=item.filmes_id%>">
                                        <img src="imgs/<%=item.imagem%>" class="w-100 imagens"  />
                                    </a>
                                </div>
                                <p class="col-sm-6 text-white"><%=item.sinopse.substring(0,200)+"..."%>
                                </p>

                            </div>
                        </div> <% }) %>
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-4 mt-5">

                            <a href="single.html">
                                <img src="../imgs/filme1.jpeg" class="w-100 imagens" />
                            </a>
                        </div>
                        <p class="col-sm-6 text-white">Após dois anos espreitando as ruas como Batman, Bruce
                            Wayne se encontra nas profundezas mais sombrias de Gotham City. Com poucos aliados
                            confiáveis, o vigilante solitário se estabelece como a personificação da vingança
                            para a população.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Matrix</h3>
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="single.html">
                                <img src="../imgs/filme3.jpeg" class="w-100 imagens" />
                            </a>
                        </div>
                        <p class="col-sm-7 ">Se passando 20 anos após os acontecimentos de de Matrix
                            Revolutions, Neo vive uma vida aparentemente comum sob sua identidade original como
                            Thomas A. Anderson em São Francisco, Califórnia, com um terapeuta que lhe prescreve
                            pílulas azuis para neutralizar as coisas estranhas e não naturais que ele
                            ocasionalmente vislumbra em sua mente. Ele também conhece uma mulher que parece ser
                            Trinity (Carrie Anne-Moss), mas nenhum deles se reconhece. No entanto, quando uma
                            nova versão de Morpheus oferece a ele a pílula vermelha e reabre sua mente para o
                            mundo da Matrix, que se tornou mais seguro e perigoso nos anos desde a infecção de
                            Smith, Neo volta a se juntar a um grupo de rebeldes para lutar contra um novo e
                            maois perigoso inimigo e livrar todos da Matrix novamente.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Morbius</h3>
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="single.html">
                                <img src="../imgs/filme4.jpeg" class="w-100 imagens" />
                            </a>
                        </div>


                    </div></div>
                </div>
  

            </article>
        </section>

<!-- <script src="../js/geral.js"></script> -->

<%- include ('footer') %>

