<%- include('header.ejs') %>
<%- include('nav.ejs') %>

    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/">
                        <img src="/imgs/LogotipoStreamOn.png" width="150">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h1 class="mt-5"><i>Número 1 em streaming!</i></h1>
                </div>
                <div class="col-sm-3 mt-3 dd-flex justify-content-end">
                    <span id="bemVindo"></span>
                    <a id="entrar" href="login.html" class="btn btn-danger">Entrar</a>
                    <a style="cursor:pointer;text-decoration:underline" class="btn btn-danger ml-2" id="sair">Sair</a>
                </div>
            </div>
        </header>


        <br>

        <section>
            <table class="w-100" border="0">            
                <tr>
                    <td><iframe class="w-100" width="400" height="250" marginheight="40" marginwidth="100"src="" id=tra0 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                    <td><iframe class="w-100" width="400" height="250" marginheight="40" marginwidth="100" src="" id=tra1 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                    <td><iframe class="w-100" width="400" height="250" src="" id=tra2 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></td>
                </tr>
                </table>
            <article>
                <p class="col-sm-8"> Aqui você encontra o melhor dos nossos conteúdos em HD!</p>
                <hr>
                <div id="galeriaLivros" class="mt-4 mb-6">
                    <div class="row">
                        <% galeria.forEach((item)=>{ %>
                        <div class="col-sm-6">
                            <h3> <%=item.titulo%></h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="/single?id=<%=item.filmes_id%>">
                                        <img src="imgs/<%=item.imagem%>" class="w-100 imagens"  />
                                    </a>
                                </div>
                                <p class="col-sm-6 text-white"><%=item.sinopse.substring(0,200)+"..."%>
                                </p>

                            </div>
                        </div> <% }) %>
                        </div>
                </div>
                <div class="row">
                        <div class="col-sm-4 mt-5">
                            <a href="single.html">
                                <img src="../imgs/filme5.jpeg" class="imagens">
                            </a>
                        </div>
                        <div class="col-sm-4 mt-5">
                            <a href="single.html">
                                <img src="../imgs/filme6.jpeg" class="imagens">
                            </a>
                        </div>
                        <div class="col-sm-4 mt-5">
                            <a href="single.html">
                                <img src="../imgs/filme7.jpeg" class="imagens">
                            </a>
                        </div>

                    </div></div>
                </div>
  

            </article>
        </section>


<!-- <script src="../js/geral.js"></script> -->


<script src="../js/produtos.js"></script>
<%- include('footer.ejs') %>
