<%- include ('header') %>
<%- include ('nav') %>

<section>
    
    <article>

        <div id="filmes" class="row"></div>

        <div class="row">

            <% filmes.forEach((item)=>{ %>

                <div class="col-sm-4 mt-3 filmes">
                    <h4 class="col-sm-12">
                        <%= item.titulo%>
                            </h3>
                            <div class="row">
                                <div class="col-sm-5">
                                    <a href="/single?id=<%=item.filmes_id%>"><img
                                            src="../imgs/<%= item.imagem %>" class="w-100 imagens" /></a>
                                </div>
                                <div class="col-sm-7">
                                    <p>Categoria: <%= item.genero %>
                                    </p>
                                    <p>Ano: <%= item.ano %>
                                    </p>
                                    <p class="sinopse">
                                        <%= item.sinopse.substring(0,100)+"..." %>
                                    </p>
                                </div>
                            </div>
                </div>

                <% }) %>
        </div>

    </article>
</section>
<%- include ('footer') %>