<%- include('header.ejs') %>
<%- include('nav.ejs') %>

    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/index">
                        <img src="/imgs/LogotipoStreamOn.png" width="150">
                    </a>
                </div>
                <div class="col-sm-6">
                    <h1 class="mt-5"><i>Número 1 em streaming!</i></h1>
                </div>
                <div class="col-sm-3 mt-3 dd-flex justify-content-end">
                    <span id="bemVindo"></span>
                    <a id="entrar" href="/login" class="btn btn-danger">Entrar</a>
                    <a style="cursor:pointer;text-decoration:underline" class="btn btn-danger ml-2" id="sair">Sair</a>
                </div>
            </div>
        </header>

      

        <article>

            <div id="filmes" class="row"></div>

            <div class="row">

                <% filmes.forEach((item)=>{ %>

                    <div class="col-sm-4 mt-3 filmes">
                        <h4 class="col-sm-12">
                            <%= item.titulo%>
                                </h3>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <a href="/single?id=<%=item.filmes_id%>"><img src="../imgs/<%= item.imagem %>"
                                                class="w-100 imagens" /></a>
                                    </div>
                                    <div class="col-sm-7">
                                        <p>Categoria: <%= item.genero %>
                                        </p>
                                        <p>Ano: <%= item.ano %>
                                        </p>
                                        <p class="sinopse">
                                            <%= item.sinopse.substring(0,100)+"..." %>
                                        </p>
                                    </div>
                                </div>
                    </div>

                <% }) %>
            </div>

        </article>
        </section>


    </div>


<!-- <script src="../js/promocoes.js"></script> -->
<!-- <script src="../js/geral.js"></script> -->
<%- include('footer.ejs') %>


