<%- include ('header') %>
<%- include ('nav') %>

<section>
    
    <article>

        <div id="filmes" class="row"></div>

        <div class="row">

            <% galeria.forEach((item)=>{ %>
                <div class="col-sm-4 mt-3 mb-5 filmes">
                    <h4 class="col-sm-12">
                        <%= item.titulo%>
                    </h4>
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="/single?id=<%=item.filmes_id%>">
                                <img src="../imgs/<%= item.imagem %>" class="w-100 h-75 imagens" />
                            </a>
                        </div>
                        <div class="col-sm-7 line-height-">
                            <p>
                                Categoria: <%= item.genero %>
                            </p>
                            <p>
                                Ano: <%= item.Ano %>
                            </p>
                            <p class="sinopse">
                                <%= item.sinopse.substring(0,80)+"..." %>
                            </p>
                            <p>De: <s>R$ <%=item.valor.replace(".",",")%></s></p>
                            <p>Por: R$ 9,90</p>
                        </div>
                    </div>
                </div>
            <% }) %>

        </div>


    </div>

    </article>
</section>
<!-- <script src="../js/promocoes.js"></script> -->
<%- include ('footer') %>

