
<%- include('header.ejs') %>
<%- include('nav.ejs') %>
        
        <section>
            <article>
                
                <div class="row ">
                    <div class="col-sm-4 mt-3 filmes">
                        <h4 class="col-sm-12">
                            <%=galeria[0].titulo%>
                        </h4>
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/imgs/<%=galeria[0].imagem%>" class="w-100 imagens">
                            </div>
                            <div clas="col-sm-7">
                                <p>Ano: <%=galeria[0].ano%>
                                </p>
                                <p>Categoria: <%=galeria[0].genero%>
                                </p>
                                <p>
                                    <%=galeria[0].sinopse.substring(0,100)+"..."%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="galeriaVideos" class="mt-4 mb-4">
                    <div class="row wrap">
                        <div class="col-sm-4">
                            <a href="produtos.html">
                                <img src="../imgs/filme1.jpeg" class="imagens">
                            </a>
                        </div>

                        <div class="col-sm-4">
                            <a href="produtos.html">
                                <img src="../imgs/filme3.jpeg" class="imagens">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="produtos.html">
                                <img src="../imgs/filme9.jpeg" class="imagens">
                            </a>
                        </div>
                    </div>
                </div>
  
    </article>

    </section>

<script src="../js/controle.js"></script>

<%- include('footer.ejs') %>
