
<%- include('header.ejs') %>
<%- include('nav.ejs') %>
        
        <section class="container">
            <article>
                <div class="mt-5 mb-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2> <%=galeria[0].titulo%></h2>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/imgs/<%=galeria[0].imagem%>" class="w-100 imagens">  
                                </div>
                           <div class="col-sm-7">
                                <p class="text-white "><p><strong>Ano: </strong><%= galeria[0].Ano%></p>
                             <p><strong>Categoria: </strong><%=galeria[0].genero%> </p><p class="sinopse"><strong>Sinopse: </strong> <%= galeria[0].sinopse%> </p>
                    </div>
                            </div>
                        </div> 
                        </div>
                </div>
            
                    <div class="row wrap mt-5">
                        <div class="col-sm-4">
                            <a href="produtos.html">
                                <img src="../imgs/filme1.jpeg" class="imagensIndex">
                            </a>
                        </div>

                        <div class="col-sm-4">
                            <a href="produtos.html">
                                <img src="../imgs/filme3.jpeg" class="imagensIndex">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="produtos.html">
                                <img src="../imgs/filme9.jpeg" class="imagensIndex">
                            </a>
                        </div>
                    </div>
                </div>
  
    </article>

    </section>

<script src="../js/controle.js"></script>

<%- include('footer.ejs') %>
